body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#trans{
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.paper {
    margin-top:225px;
    display:'flex';
    flex-direction: 'column';
    align-items: 'center';
  }
  .avatar {
    margin:1px;
    background-color:#0044ff
  }
  .form {
    width: '100%';
    margin-top: 1px
  }
  .submit {
    margin:3px 0px 2px
  }
  #sti {
    
    position: -webkit-sticky;
    position: sticky;
    top:0
  }

#spanRef{
  scroll-behavior: 'smooth'
}